@import "tailwindcss";

:root {
  --color-bg: #fffaef;
  --color-ink: #111;
  --color-sub: #444;
  --color-orange: #f16517;
  --color-logo-orange: #F59D24;
  --color-muted: #888;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  background-color: var(--color-bg);
  color: var(--color-ink);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
